:root{
    --font-nomes: 'Great Vibes', cursive;
    --font-comum: 'Roboto', sans-serif;
    --cor-comum:#8C8E8B;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: var(--font-comum);
    height: 100vh;
    width: 100vw;
    text-align: center;
    color: #3c3c3c;
}

body{
    border:solid 1px gold;
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    margin: 10px;
    display: grid;
    grid-template-areas:
    "nomes"
    "data"
    "info"
    "botoes";
    background-image: url(../img/BackgroundCasamento3.jpg);
    background-position: center;
    background-size: cover;
}

#identificacao{

    grid-area: nomes;
    display: block;
    margin: 1em auto;
    padding-top: 10vh;
}

.identificacao__nomes{
    font-family: var(--font-nomes);
    font-size: 3em;
    font-weight: 100;
}

strong{
    display: block;
    font-family: serif;
    text-transform: uppercase;
    font-size: 0.5em;
    line-height: 0.5em;
}

.identificacao__convite{
    display: block;
    font-size: .8em;
    margin: 1em auto;
    width: 80%;
}

/*info*/

#informacoes{
    grid-area: info;
    
}

.informacoes__local{
    font-size: 1.2em;
}

.informacoes__endereço{
    font-size: 0.9em;
    margin: 0 2em 1em;
}



/* Data do casamento*/

#data{
    grid-area: data;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

.data__lado{
    border-bottom: solid var(--cor-comum) 2px;
    border-top: solid var(--cor-comum) 2px;
}

.data__mes-e-ano{
    font-size: 2em;
    margin: 0 0.5em ;
}

.data__dia{
    font-family: var(--font-comum);
    line-height: normal;
    font-size: 1em;
}



/* lista de botoes*/

#botoes{
    grid-area: botoes;

}

.botoes__lista{
    margin-top: 1.5em;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.botoes__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
}

.botoes__icone{
    background-color: #8EA676;
    color: #EFEFED;
    border-radius: 100%;
    border: none;
    width: 2em;
    height: 2em;
    font-size: 1.2em;
}


@media screen and (max-width:768px) {
  
    
}

@media screen and (max-width:480px) {
 
}